.col-sm-8 .emails-notifications li {
  list-style: none;
}
.dashbaord .banner-container .banner-bar .settings {
  width: 120px;
  height: 39px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #242731;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.dashbaord .banner-container .banner-bar .row .col-sm-8 .settings-links {
  text-decoration: none;
  /* Account details */

  width: 134px;
  height: 23px;

  /* tittle/18 M */

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  color: #5f6165;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.dashbaord
  .banner-container
  .banner-bar
  .row
  .col-sm-8
  .settings-links.active-tab {
  color: #ffc247 !important;
}
.dashbaord .banner-container .banner-bar .row .col-sm-6 .settings-data {
  /* Component 86 */

  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 22px 14px;
  width: 400px;
  height: 30px;
  border: 1px solid #e9eaec;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
form .form-group #password {
    max-height: 30px;
 
  width: 376px;
  left: 0px;
  border-radius: 10px;
 
}
form .form-group .btn-discard-changes{
border: 2px solid gray;
}